alntmscore
prob
results
results_test
results_v11_prob
rmsd
tmp
aln_test
ap
ap_ca
ap_ca.dbtype
ap_ca.index
ap_h
ap_h.dbtype
ap_h.index
ap_mapping
ap_ss
ap_ss.dbtype
*.dbtype
*.index
ap_taxonomy
*.lookup
*.version
pdb
pdb_ca
pdb_clu
pdb_h
pdb_mapping
*.0
*.1
pdb_seq_mapping
pdb_seq_taxonomy
*.source
pdb_ss
pdb_taxonomy
*.pdb
up
up_ca
up_h
up_mapping
up_ss
up_taxonomy
results_test_baseline
results_test_baseline_alntmscore
results_v11_full
